.button {
  border-radius: 20px;
  padding: 12px 25px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #2c2c2f;
  transition: all 0.3s;
}

.button:hover {
  box-shadow: 0px 4px 5px rgb(123, 126, 142);
}

.button:disabled {
  opacity: 0.7;
}
