.text {
  text-align: center;
  font-size: 38px;
  color: #2c2c2f;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 80px;
}

@media (width <= 560px) {
  .text {
    font-size: 22px;
    margin-bottom: 30px;
  }
}